<ng-container>
  <!--toolbar-->
  <mat-toolbar color="primary" class="example-header">
  <button mat-icon-button (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
  </button>
  <span>SMPN 1 Baywan</span>
  <div class="uk-width-expand"></div>
  <small>Admin</small>
  <button mat-button (click)="logout()">keluar</button>
  </mat-toolbar>
  <!--end toolbar-->
  
  <mat-sidenav-container class="example-container">
  
    <mat-sidenav #sidenav 
    mode="side" 
    [position]="'start'" 
    opened class="sidenav-left"
    [fixedInViewport]="true" 
    [fixedTopGap]="65"
    [fixedBottomGap]="0">

    <mat-nav-list>
      <mat-list-item routerLink="/admin/dashboard">
      <mat-icon matListIcon>dashboard</mat-icon>
      <h3 matLine>Dashboard</h3>
      </mat-list-item>
      <mat-list-item routerLink="/admin/student">
      <mat-icon matListIcon>dashboard</mat-icon>
      <h3 matLine>Data Siswa</h3>
      </mat-list-item>
    </mat-nav-list>

   </mat-sidenav>
  <!--sidenav content-->
  <mat-sidenav-content style="padding: 20px; background-color: rgb(83, 83, 83);">
  <!--halaman-halaman tampil disini-->
  
 
<router-outlet></router-outlet>
  
  
  
  </mat-sidenav-content>
  <!--end sidenav content-->
  </mat-sidenav-container>   
  </ng-container>
