<h3 mat-dialog-title>
    Data Mahasiswa
</h3>
<div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nama</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Alamat</mat-label>
        <input matInput [(ngModel)]="data.address">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Agama</mat-label>
        <input matInput [(ngModel)]="data.religion">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Jenis Kelamin</mat-label>
        <input matInput [(ngModel)]="data.gender">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Tanggal Lahir</mat-label>
        <input matInput [(ngModel)]="data.birthday">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>NIS</mat-label>
        <input matInput [(ngModel)]="data.NIS">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>No Telp Wali</mat-label>
        <input matInput [(ngModel)]="data.phone">
    </mat-form-field>
</div>
<div mat-dialog-action align="end">
<button mat-button mat-dialog-close>Batal</button>
<button mat-flat-button (click)="saveData()"[disabled]="loading">{{loading ? 'Menyimpan..':'Simpan'}}</button>
</div>